* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  color: #595959;
  /* Font */
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 24px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
}

h1 {
  font-weight: 700;
  margin-top: 25px;
  text-align: center;
}

h2 {
  font-weight: 200;
  text-align: center;
}

h3 {
  text-decoration: underline;
}

.side-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #525252;
  color: #f2f2f2;
  padding: 25px 50px;
  gap: 15px;
  border-radius: 10px;
}

#clear-btn {
  width: 100%;
  padding: 5px 0;
  border-radius: 5px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  color: #525252;
  outline: none;
}

#color-picker {
  width: 100%;
  border-radius: 5px;
}

#slider {
  width: 100%;
}

.shortcuts {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style-type: none;
  font-weight: 700;
}

.shortcuts li::before {
  content: "";
  background-color: #f2f2f2;
  color: #525252;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 5px;
}

.shortcuts .brush::before {
  content: "B";
}

.shortcuts .eraser::before {
  content: "E";
}

.shortcuts .clear::before {
  content: "C";
}
